root = true

# 기본 설정
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.json]
indent_size = 2

# C# 설정
[*.cs]
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_indent_case_contents = true
csharp_indent_switch_labels = true
csharp_prefer_static_local_function = true
csharp_style_expression_bodied_indexers = true:suggestion
csharp_style_expression_bodied_properties = true:suggestion
csharp_style_inlined_variable_declaration = true:silent
csharp_style_var_elsewhere = true:suggestion
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:silent
dotnet_sort_system_directives_first = true
dotnet_diagnostic.IDE0046.severity = none   # if문 단순화
dotnet_diagnostic.IDE0047.severity = none   # 불필요한 괄호 제거
dotnet_diagnostic.IDE0060.severity = none   # 사용되지 않는 매개변수
dotnet_diagnostic.IDE0078.severity = suggestion # 패턴 일치 사용
dotnet_diagnostic.IDE0160.severity = none   # 블록 namespace 권장
dotnet_diagnostic.IDE0270.severity = suggestion # null 검사 단순화
dotnet_diagnostic.IDE0305.severity = none   # 컬렉션 초기화 단순화 (의미 체계 변경 가능성)
dotnet_diagnostic.SA1210.severity = error   # using 지시문 알파벳 순서

# ASP.NET Core 및 Razor 설정
[**/*.cshtml]
csharp_indent_case_contents = true
csharp_indent_switch_labels = true

# ASP.NET Core MVC Controller 설정
[**/Controllers/*Controller.cs]
csharp_style_pattern_local_over_anonymous_function = true:silent

# 기타
[*.{csproj,vbproj,fsproj,props,targets,xml,yml,yaml}]
indent_size = 2
